@import 'styles/abstracts/variables';

#hero {
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  //background: url('/assets/images/text-only-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .header {
    margin-bottom: 20px;
    text-align: left;
  }

  .section-header {
    margin: unset;
    text-align: left;
    color: $font-color-dark;
    font-family: $ff_semi_bold;
    margin-bottom: 1.5rem;
    line-height: 35px;
  }
}
