//general colors
$primary-color: #444444;
$secondary-color: #f0bd45;
$background-color: linear-gradient(116.47deg, #f8e463 14.26%, #f0bd45 78.19%);

//typography colors
$font-color-darker: #2f2e2e;
$font-color-dark: #444444;

$font-color-light: white;

//typography
$ff_extra_bold: p-extra-bold;
$ff_bold: p-bold;
$ff_semi_bold: p-semi-bold;
$ff_reg: 'futura';
$ff_light: p-light;

$fs_xl: clamp(2rem, 8vw, 4rem);

//breakpoints
$sd: '576px';
$md: '768px';
$ld: '992px';
$eld: '1225px';

//other
$nav-height: 65px;
